body {
  display: block;
}

.top-title-2 {
  text-align: center;
  padding-top: 50px;
}

.map2 {
  align-items: center;
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

@media screen and (max-width: 900px) {
  .map2 {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

  }
}
