body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        place-items: center;
        width: 100vw;
        height: 100vh;
        background-color: white;
      }
      listing-forex{
        margin: 0;
        padding: 0;
        position: fixed;
        align-items: center;
        height: 100%;
        width: 50%;
        list-style-type: none;
      }
      input, select{
        margin: 10px;
      }
