body {
  display: block;
}

.hero-image {
  background-image: url("/images/Travel-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}


@media screen and (max-width: 900px) {
  
}
